@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f5;
  color: #282828;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #282828;
  text-decoration: none;
}

/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 75px;
  /* padding: 0px 20px; */
  display: flex;
  /* justify-content: ; */
  align-items: center;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  background: #282828;
  color: #ddd;
  width: 25vw;
  height: 100%;
  padding: 28px 90px;
  display: flex;
  justify-content: center;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  max-width: 82px;
  height: 100%;
  text-align: center;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

.shop-img {
  margin-top: 15px;
  width: 100vw;
}

.shop-img img {
  max-width: 100%;
}

#form {
  position: relative;
}

#hero {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 520px;
  width: 100vw;
  margin-top: 50px;
}

#hero > h2 {
  display: block;
  text-transform: uppercase;
  font-style: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 55px;
  line-height: 1.2;
  padding: 40px 20px 20px 20px;
}

#hero > p {
  color: #818181;
  font-size: 16px;
  padding: 0 20px 37px;
  line-height: 24px;
  opacity: 0.7;
}

#hero input[type="email"] {
  /* max-width: 900px; */
  background: #f5f6f7;
  border: 1px solid #bebebe;
  border-radius: 3px;
  font-weight: 500;
  text-align: left;
  width: 360px;
  height: 45px;
  margin-bottom: 0;
}

input[type="email"]::-webkit-input-placeholder {
  padding-left: 20px;
  color: #818181;
  opacity: 0.6;
}

/* #hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 100px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#hero input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
} */

#form .fas {
  position: absolute;
  right: 15px;
  top: 30%;
  color: #ff3d57;
  font-size: 16px;
  font-weight: 900;
  outline: none;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  border: none;
  overflow: visible;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: darkorange;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

#how-it-works > iframe {
  margin: 10px 0 0 20px;
  max-width: 560px;
  width: 100%;
}

#how-it-works img {
  max-width: 90%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}

.product img {
  max-width: 90%;
  margin-top: 10px;
}

.product .price,
.discounted {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  text-transform: uppercase;
}

.product .price h2 {
  font-size: 18px;
  font-weight: 900;
}

.product .price p,
.discounted p {
  color: #2d89fa;
}

.product .discounted h2 {
  font-size: 15px;
  font-weight: 800;
  color: #818181;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  background-color: #000;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: center;
}

footer > ul > li {
  padding-right: 40px;
}

footer > ul > li a {
  text-transform: uppercase;
  color: #fff;
}

footer > span {
  text-transform: uppercase;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: #fff;
}
